:root {
  --app-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw !important;
  height: 100vh !important;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 !important;
}

/* General container for the app */
.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* AR.js Scene */
.ar-scene {
  flex: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
